# -*-Mode: makefile;-*-
# $Id$

#############################################################################
#
# File:
#   $Source$
#
# Description:
#   Include file for package Makefile.in
# 
#   *Assumes presence of Automake variables!*
#
#############################################################################

#############################################################################
# HPCTOOLKIT Components and Settings
#############################################################################

# $(top_srcdir) is fine, but $(abs_top_srcdir) must be used with @@
HPCTOOLKIT = @abs_top_srcdir@

############################################################
# Local includes
############################################################

HPC_IFLAGS = -I$(HPCTOOLKIT)/src

############################################################
# Local libraries
############################################################

# Linking dependencies:
#   HPC_LIBBANAL     : HPC_LIBPROFJUICY HPC_LIBBINUTILS
#   HPC_LIBPROFJUICY : HPC_LIBBINUTILS HPC_LIBSUPPORT
#   HPC_LIBPROFLEAN  :
#   HPC_LIBBINUTILS  : HPC_LIBISA HPC_LIBSUPPORT
#   HPC_LIBISA       : HPC_LIBSUPPORT
#   HPC_LIBXML       : HPC_LIBSUPPORT
#   HPC_LIBSUPPORT   :

HPC_LIBBANAL     = $(top_builddir)/src/lib/banal/libHPCbanal.la
HPC_LIBPROFJUICY = $(top_builddir)/src/lib/prof-juicy/libHPCprof-juicy.la
HPC_LIBPROFLEAN  = $(top_builddir)/src/lib/prof-lean/libHPCprof-lean.la
HPC_LIBBINUTILS  = $(top_builddir)/src/lib/binutils/libHPCbinutils.la
HPC_LIBISA       = $(top_builddir)/src/lib/isa/libHPCisa.la
HPC_LIBXML       = $(top_builddir)/src/lib/xml/libHPCxml.la
HPC_LIBSUPPORT   = $(top_builddir)/src/lib/support/libHPCsupport.la

#############################################################################
