# SPDX-FileCopyrightText: 2024 Contributors to the HPCToolkit Project
#
# SPDX-License-Identifier: CC0-1.0

# This configuration file targets clang-format 18.x. Do not add configuration for newer
# versions of clang-format, nor for deprecated options or formats.
#
# See https://clang.llvm.org/docs/ClangFormatStyleOptions.html for explainations of all
# available options.


# Except where overridden, we follow the LLVM code style.
BasedOnStyle: LLVM


# Forably sort #includes alphabetically, grouping them based roughly on their purpose:
#
# 1. Local headers (e.g. `#include "loadmap.h"`)
# 2. Dependency and C system headers (e.g. `#include <xed/xed-interface.h>`)
# 3. C++ system headers (e.g. `#include <vector>`)
#
# This order ensures local headers properly #include their dependencies, and permits
# dropping system #includes (if allowed by other policy like e.g. IWYU).
IncludeBlocks:   Regroup
IncludeCategories:
- Regex:           '^<.*\.h>'
  Priority:        2
  SortPriority:    0
  CaseSensitive:   false
- Regex:           '^<.*'
  Priority:        3
  SortPriority:    0
  CaseSensitive:   false
- Regex:           '.*'
  Priority:        1
  SortPriority:    0
  CaseSensitive:   false


# Increase the line limit to "90-ish," a stance taken by the [Black formatting style for
# Python][1]. The line soft limit is 88 (10% more than the popular but tight 80), but
# the actual line length can be longer if wrapping would introduce a break. For example,
# the following comment is left untouched even though it is 90 columns wide, but any
# longer would trigger a break:
#
# ```c
# // aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
# ```
#
# [1]: https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#line-length
ColumnLimit: 88
PenaltyExcessCharacter: 100


# Align the pointer `*` and reference `&` with the type, not the variable. This is the
# preferred alignment for types since it better visually separates the type from the
# variable name, e.g. `char*** x`.
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
