This is Mark's branch for work on hpctoolkit configure, especially for
integrating new Dyninst master with support for openmp for hpcstruct
and building prereqs from spack.

TODO

1. Add option --with-spack=DIR for reading prereqs from a spack
install directory.

2. Test dyninst for openmp support and pass to hpcstruct.

3. Better matrix of prereqs and parts of toolkit to build.

4. Cleanup cruft and old config options.

