{%- macro pfxpath(spec, suffix = "") -%}
  {%- if spack_prefix(spec) -%}
    {{ spack_prefix(spec) + "/" + suffix }}
  {%- endif -%}
{%- endmacro -%}

[binaries]
mpicxx = '{{ pfxpath("mpi", "bin/mpicxx") }}'
mpiexec = '{{ pfxpath("mpi", "bin/mpiexec") }}'

[built-in options]
{%- macro rpath(spec) -%}
  {%- if spack_prefix(spec) -%}
    {%- for libdir in ["lib64", "lib"] %}'-Wl,-rpath={{ pfxpath(spec, libdir) }}', {% endfor -%}
  {%- endif -%}
{%- endmacro %}
c_link_args = [
    {{ rpath("boost") }}
    {{ rpath("bzip2") }}
    {{ rpath("dyninst") }}
    {{ rpath("elfutils") }}
    {{ rpath("intel-tbb") }}
    {{ rpath("libmonitor") }}
    {{ rpath("libunwind") }}
    {{ rpath("xerces-c") }}
    {{ rpath("xz") }}
    {{ rpath("zlib") }}
    {{ rpath("libiberty") }}
    {{ rpath("intel-xed") }}
    {{ rpath("yaml-cpp") }}
    {{ rpath("papi") }}
    {{ rpath("libpfm4") }}
  ]
cpp_link_args = [
    {{ rpath("boost") }}
    {{ rpath("bzip2") }}
    {{ rpath("dyninst") }}
    {{ rpath("elfutils") }}
    {{ rpath("intel-tbb") }}
    {{ rpath("libmonitor") }}
    {{ rpath("libunwind") }}
    {{ rpath("xerces-c") }}
    {{ rpath("xz") }}
    {{ rpath("zlib") }}
    {{ rpath("libiberty") }}
    {{ rpath("intel-xed") }}
    {{ rpath("yaml-cpp") }}
    {{ rpath("papi") }}
    {{ rpath("libpfm4") }}
  ]

[properties]
prefix_boost = '{{ pfxpath("boost") }}'
prefix_bzip = '{{ pfxpath("bzip2") }}'
prefix_dyninst = '{{ pfxpath("dyninst") }}'
prefix_elfutils = '{{ pfxpath("elfutils") }}'
prefix_tbb = '{{ pfxpath("intel-tbb") }}'
prefix_libmonitor = '{{ pfxpath("libmonitor") }}'
prefix_libunwind = '{{ pfxpath("libunwind") }}'
prefix_xerces = '{{ pfxpath("xerces-c") }}'
prefix_lzma = '{{ pfxpath("xz") }}'
prefix_zlib = '{{ pfxpath("zlib") }}'
prefix_libiberty = '{{ pfxpath("libiberty") }}'
prefix_xed = '{{ pfxpath("intel-xed") }}'
prefix_yaml_cpp = '{{ pfxpath("yaml-cpp") }}'
prefix_papi = '{{ pfxpath("papi") }}'
prefix_perfmon = '{{ pfxpath("libpfm4") }}'
prefix_opencl = '{{ pfxpath("opencl-c-headers") }}'
