{%- macro pfxpath(spec, suffix = "") -%}
  {%- if spack_prefix(spec) -%}
    {{ spack_prefix(spec) + "/" + suffix }}
  {%- endif -%}
{%- endmacro -%}

[constants]
{%- macro rpath(spec) -%}
  {%- if spack_prefix(spec) -%}
    {%- for libdir in ["lib64", "lib"] %}'-Wl,-rpath={{ pfxpath(spec, libdir) }}', {% endfor -%}
  {%- endif -%}
{%- endmacro %}
{%- macro ldir(spec) -%}
  {%- if spack_prefix(spec) -%}
    {%- for libdir in ["lib64", "lib"] %}'-L{{ pfxpath(spec, libdir) }}', {% endfor -%}
  {%- endif -%}
{%- endmacro %}
{%- macro idir(spec) -%}
  {%- if spack_prefix(spec) -%}
    '-I{{ pfxpath(spec, "include") }}',
  {%- endif -%}
{%- endmacro %}
_cc_args = [
    {{ idir("opencl-c-headers") }}
  ]
_link_args = [
    {{ rpath("boost") }}
    {{ rpath("bzip2") }}
    {{ rpath("dyninst") }}
    {{ rpath("elfutils") }}
    {{ rpath("intel-tbb") }}
    {{ rpath("libmonitor") }}
    {{ rpath("libunwind") }}
    {{ rpath("xerces-c") }}
    {{ rpath("xz") }}
    {{ rpath("zlib") }}
    {{ rpath("libiberty") }}
    {{ rpath("yaml-cpp") }}
    {{ rpath("papi") }}
    {{ rpath("libpfm4") }}
  ]

[built-in options]
c_args = _cc_args
cpp_args = _cc_args
c_link_args = _link_args
cpp_link_args = _link_args

cmake_prefix_path = [
  {%- for spec in spack_all_specs() -%}
    '{{ pfxpath(spec) }}',
  {%- endfor -%}
  ]
pkg_config_path = [
  {%- for spec in spack_all_specs() -%}
    '{{ pfxpath(spec, "lib/pkgconfig") }}',
  {%- endfor -%}
  ]

[properties]
boost_root = '{{ pfxpath("boost") }}'
