{%- macro pfxpath(spec, suffix = "") -%}
  {%- if spack_prefix(spec) -%}
    {{ spack_prefix(spec) + "/" + suffix }}
  {%- endif -%}
{%- endmacro -%}

[binaries]
pkg-config = '{{ pfxpath("pkgconfig", "bin/pkg-config") }}'
cmake = '{{ pfxpath("cmake", "bin/cmake") }}'
mpicxx = '{{ pfxpath("mpi", "bin/mpicxx") }}'
mpiexec = '{{ pfxpath("mpi", "bin/mpiexec") }}'
autoreconf = '{{ pfxpath("autoconf", "bin/autoreconf") }}'
autoconf = '{{ pfxpath("autoconf", "bin/autoconf") }}'
autoheader = '{{ pfxpath("autoconf", "bin/autoheader") }}'
autom4te = '{{ pfxpath("autoconf", "bin/autom4te") }}'
aclocal = '{{ pfxpath("automake", "bin/aclocal") }}'
automake = '{{ pfxpath("automake", "bin/automake") }}'
libtoolize = '{{ pfxpath("libtool", "bin/libtoolize") }}'
m4 = '{{ pfxpath("m4", "bin/m4") }}'
make = '{{ pfxpath("gmake", "bin/make") }}'
python = '{{ pfxpath("python", "bin/python") }}'

[properties]
prefix_boost = '{{ pfxpath("boost") }}'
prefix_bzip = '{{ pfxpath("bzip2") }}'
prefix_dyninst = '{{ pfxpath("dyninst") }}'
prefix_elfutils = '{{ pfxpath("elfutils") }}'
prefix_tbb = '{{ pfxpath("intel-tbb") }}'
prefix_libmonitor = '{{ pfxpath("libmonitor") }}'
prefix_libunwind = '{{ pfxpath("libunwind") }}'
prefix_xerces = '{{ pfxpath("xerces-c") }}'
prefix_lzma = '{{ pfxpath("xz") }}'
prefix_zlib = '{{ pfxpath("zlib") }}'
prefix_libiberty = '{{ pfxpath("libiberty") }}'
prefix_xed = '{{ pfxpath("intel-xed") }}'
prefix_memkind = '{{ pfxpath("memkind") }}'
prefix_yaml_cpp = '{{ pfxpath("yaml-cpp") }}'
prefix_papi = '{{ pfxpath("papi") }}'
prefix_perfmon = '{{ pfxpath("libpfm4") }}'
prefix_opencl = '{{ pfxpath("opencl-c-headers") }}'
