# The majority of files in this directory come from Autotools. Do not touch.
[/{ar-lib,compile,config.guess,config.sub,depcomp,install-sh,libtool.m4,lt~obsolete.m4,ltmain.sh}]
trim_trailing_whitespace = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
max_line_length = unset

[/{ltoptions.m4,ltsugar.m4,ltversion.m4,missing,mkinstalldirs,README.auto,README.version}]
trim_trailing_whitespace = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
max_line_length = unset

[/{svn-relocate,test-driver}]
trim_trailing_whitespace = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
max_line_length = unset
