# SPDX-FileCopyrightText: 2024 Contributors to the HPCToolkit Project
#
# SPDX-License-Identifier: CC0-1.0

BasedOnStyle: InheritParentConfig

# FIXME: This directory contains a significant amount of old code written in inconsistent code
# styles. Formatting is generally disabled except for newer code.
DisableFormat: true
