# SPDX-FileCopyrightText: 2024 Rice University
# SPDX-FileCopyrightText: 2024 Contributors to the HPCToolkit Project
#
# SPDX-License-Identifier: CC0-1.0

root = false

# Python code is formatted with Black, so 4-space indents
[decode-mpi,lint-depends]
indent_size = 4
