# All files in this directory are external code and should not be touched
[*]
trim_trailing_whitespace = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
max_line_length = unset
