# -*-Mode: makefile;-*-

#############################################################################
##
## File:
##   $HeadURL$
##
## Description:
##   Include file for package Makefile.in
##
##   *Assumes presence of Automake variables!*
##
#############################################################################

#############################################################################
# HPCTOOLKIT Components and Settings
#############################################################################

############################################################
# Local includes
############################################################

HPC_IFLAGS = -I@abs_top_srcdir@/src -I@abs_top_builddir@/src

############################################################
# Local libraries
############################################################

# Linking dependencies:
#   HPCLIB_Analysis   : HPCLIB_ProfXML...
#   HPCLIB_Banal      : HPCLIB_Prof HPCLIB_Binutils
#   HPCLIB_Prof       : HPCLIB_Binutils HPCLIB_Support
#   HPCLIB_ProfXML    : HPCLIB_Prof HPCLIB_Binutils HPCLIB_Support
#   HPCLIB_ProfLean   :
#   HPCLIB_Binutils   : HPCLIB_ISA HPCLIB_Support*
#   HPCLIB_ISA        : HPCLIB_Support*
#   HPCLIB_XML        : HPCLIB_Support*
#   HPCLIB_Support    :
#   HPCLIB_SupportLean:

HPCLIB_Analysis    = $(top_builddir)/src/lib/analysis/libHPCanalysis.la
HPCLIB_Banal       = $(top_builddir)/src/lib/banal/libHPCbanal.la
HPCLIB_Banal_Simple = $(top_builddir)/src/lib/banal/libHPCbanal_simple.la
HPCLIB_Prof        = $(top_builddir)/src/lib/prof/libHPCprof.la
HPCLIB_Profile     = $(top_builddir)/src/lib/profile/libHPCprofile.la
HPCLIB_ProfileStandalone = $(top_builddir)/src/lib/profile/libHPCprofile_standalone.la
HPCLIB_ProfXML     = $(top_builddir)/src/lib/profxml/libHPCprofxml.la
HPCLIB_ProfLean    = $(top_builddir)/src/lib/prof-lean/libHPCprof-lean.la
HPCLIB_Binutils    = $(top_builddir)/src/lib/binutils/libHPCbinutils.la
HPCLIB_gettext     = $(top_builddir)/src/lib/binutils/libHPCgettext.la
HPCLIB_ISA         = $(top_builddir)/src/lib/isa/libHPCisa.la
HPCLIB_XML         = $(top_builddir)/src/lib/xml/libHPCxml.la
HPCLIB_Support     = $(top_builddir)/src/lib/support/libHPCsupport.la
HPCLIB_SupportLean = $(top_builddir)/src/lib/support-lean/libHPCsupport-lean.la


############################################################
#
############################################################

# arguments: ($1: from) ($2: to)
define HPC_moveIfStaticallyLinked
  if file -b "$1" 2>&1 | $(GREP) -E -i -e 'static.*link' >/dev/null ; then \
    rm -f "$2" ;  \
    mv -f "$1" "$2" ;  \
  fi
endef

#############################################################################
