# $Id$
# -*-makefile-*-
## * BeginRiceCopyright *****************************************************
## 
## Copyright ((c)) 2002, Rice University 
## All rights reserved.
## 
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
## 
## * Redistributions of source code must retain the above copyright
##   notice, this list of conditions and the following disclaimer.
## 
## * Redistributions in binary form must reproduce the above copyright
##   notice, this list of conditions and the following disclaimer in the
##   documentation and/or other materials provided with the distribution.
## 
## * Neither the name of Rice University (RICE) nor the names of its
##   contributors may be used to endorse or promote products derived from
##   this software without specific prior written permission.
## 
## This software is provided by RICE and contributors "as is" and any
## express or implied warranties, including, but not limited to, the
## implied warranties of merchantability and fitness for a particular
## purpose are disclaimed. In no event shall RICE or contributors be
## liable for any direct, indirect, incidental, special, exemplary, or
## consequential damages (including, but not limited to, procurement of
## substitute goods or services; loss of use, data, or profits; or
## business interruption) however caused and on any theory of liability,
## whether in contract, strict liability, or tort (including negligence
## or otherwise) arising in any way out of the use of this software, even
## if advised of the possibility of such damage. 
## 
## ******************************************************* EndRiceCopyright *

#############################################################################
# Makeinclude.config
#############################################################################

SHELL = /bin/sh

#############################################################################
# Site/machine/architecture dependent configuration 
#############################################################################

#  Note: $(HPCTOOLKIT) and $(HPCTOOLKIT_PLATFORM) should come from environment

ifndef HPCTOOLKIT_PLATFORM
# Intentionally cause a make-error.
# $(error ...): more elegant but only supported on more recent versions
error "Please run appropriate 'Sourceme' to set environment variables."
endif

PLATFORM = $(HPCTOOLKIT_PLATFORM)

include $(HPCTOOLKIT)/src/Makeinclude.config.$(PLATFORM)

#############################################################################
# Site/machine/architecture independent configuration 
#############################################################################

##################################################
# HPCTOOLKIT Components and Settings
##################################################

EXE_HPCVIEW = hpcview
EXE_BLOOP   = bloop
EXE_XPROF   = xprof
EXE_XCSPROF = xcsprof

LIB_HPCVIEW = libhpcview-$(PLATFORM).a
LIB_BLOOP   = libbloop-$(PLATFORM).a
LIB_XPROF   = libxprof-$(PLATFORM).a
LIB_XCSPROF = libxcsprof-$(PLATFORM).a

# Note: LIB_SUPPORT is independent; LIB_BINUTILS, LIB_ISA and LIB_XML all
# depend on LIB_SUPPORT; LIB_XML only depends on LIB_SUPPORT.

LIB_SUPPORT  = libhpc_support-$(PLATFORM).a
LIB_BINUTILS = libhpc_binutils-$(PLATFORM).a
LIB_ISA      = libhpc_isa-$(PLATFORM).a
LIB_XML      = libhpc_xml-$(PLATFORM).a
LIB_HPCFILE  = libhpc_hpcfile-$(PLATFORM).a

# Paths: Note that the include path is designed to be used with the forms:
#  "include <lib/...>" and "include <include/...>"

HPCTOOLKIT_SRC_PATH = $(HPCTOOLKIT)/src
HPCTOOLKIT_INCLUDE_PATH = $(HPCTOOLKIT)/src

# include a seemingly needless directory at the end of the object path
# so that the user can 1) make $(PLATFORM) a symbolic link and 2)
# quickly delete all remnants from the build w/out needing to recreate
# the link.
HPCTOOLKIT_OBJ_PATH = $(HPCTOOLKIT)/obj/$(PLATFORM)/obj
HPCTOOLKIT_LIB_PATH = $(HPCTOOLKIT_OBJ_PATH)
HPCTOOLKIT_EXE_PATH = $(HPCTOOLKIT_OBJ_PATH)

# Note: only used if SPECIFY_CXX_TREPOSITORY is set
HPCTOOLKIT_CXX_TREPOSITORY = $(HPCTOOLKIT_OBJ_PATH)/trepository

##################################################
# Xerces-C (XML parser)
##################################################

XERCES         = $(HPCTOOLKIT)/lib/xerces-c2_1_0
XERCES_IFLAGS  = -I$(XERCES)/include
XERCES_LDFLAGS = -L$(XERCES)/$(PLATFORM) -lxerces-c

##################################################
# Open Analysis (CFG builder, etc.)
##################################################

OA         = $(HPCTOOLKIT)/../OpenAnalysis
OA_IFLAGS  = -I$(OA)
OA_LDFLAGS = $(OA)/OA-$(PLATFORM).a

##################################################
# GNU's binutils (binary interface)
##################################################

GBINUTILS        = $(HPCTOOLKIT)/../binutils/binutils-2.13/inst-$(PLATFORM)
GBINUTIL_IFLAGS  = -I$(GBINUTILS)/include
GBINUTIL_LDFLAGS = -L$(GBINUTILS)/lib -lbfd -lopcodes -liberty -lintl

##################################################
# Misc
##################################################

#Disable automatic RCS checkout
CO =
COFLAGS =
% :: RCS/%,v

#disable: $(CO) $(COFLAGS) $<

