# SPDX-FileCopyrightText: 2023-2024 Rice University
#
# SPDX-License-Identifier: CC0-1.0

# Structfiles are XML but are also generated data. Do not touch.
[*.hpcstruct]
trim_trailing_whitespace = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
max_line_length = unset
